.alerts {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    @include govuk-font($size: 19);
    margin-bottom: govuk-spacing(4);
    border-left-width: 5px;
    border-left-style: solid;
    border-color: govuk-colour('dark-grey');
    background-color: govuk-colour('light-grey');

    *[class^='govuk-heading'] {
        margin-bottom: 10px;
    }

    &--success,
    &--danger,
    &--info,
    &--mono,
    &--cross {
        padding-left: 50px;

        &:before {
            content: '';
            left: 14px;
            width: 20px;
            height: 20px;
            top: 13px;
            position: absolute;
            background-repeat: no-repeat;
        }
    }

    &--success {
        border-color: govuk-colour('green');

        &:before {
            background-image: url(/images/ufs/tick.svg);
            background-size: 38px 28px;
            background-repeat: no-repeat;
            top: 16px;
        }
    }

    &--danger {
        border-color: govuk-colour('red');

        &:before {
            background-size: 17px 18px;
            background-image: url(/images/ufs/danger_triangle.svg);
        }
    }

    &--cross {
        border-color: govuk-colour('red');

        &:before {
            content: '\274C';
            top: 16px;
            font-size: 12px;
        }
    }

    &--warning {
        border-color: govuk-colour('yellow');
    }

    &--info {
        border-color: govuk-colour('blue');

        &:before {
            background-size: 18px 18px;
            background-image: url(/images/ufs/info_icon.svg);
        }
    }

    &--mono {
        border-color: govuk-colour('black');

        &:before {
            background-size: 18px 18px;
            background-image: url(/images/ufs/black_info.svg);
        }
    }

    &--link {
        padding-right: 130px;
    }

    a {
        position: absolute;
        display: block;
        right: 10px;
        top: 12px;
        text-align: right;
        max-width: 120px;
    }
}
