.boxed-content {
    padding: 20px 20px 0px 20px;
    border-top: 1px solid govuk-colour('mid-grey');
    border-bottom: 1px solid govuk-colour('mid-grey');
    background-color: govuk-colour('light-grey');
}
