.service-help {
    &__heading {
        @include govuk-font($size: 19);
        margin-bottom: 0 !important;
        font-weight: 400 !important;
    }

    &__text {
        padding: 15px;
        border-left: 5px solid govuk-colour('mid-grey');

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.js-only,
.js-only--block,
.js-only--inline {
    display: none !important;
}
.js-enabled {
    .js-hidden {
        display: none;
    }
    .js-only,
    .js-only--inline {
        display: inline-block !important;
    }
    .js-only--block {
        display: block !important;
    }
}
