.password-toggle__link {
    display: none;
}

.js-enabled.password-toggle__link {
    display: inline;
    margin-left: -50px;
}

.js-enabled.password-input {
    padding-right: 60px;
}

.password-field {
    max-width: 592px;
}
