.tfsFlexBox {
    display: flex;

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--responsive {
        @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
